html {
  background-color: #ffffff;
  color: black;
  font-family: var(--font-regular);
  font-size: var(--fz-md);
}

.main {
  counter-reset: section;
  padding: 0 var(--s-sm);
  filter: none;
  transition: filter 0.5s cubic-bezier(0.645,0.045,0.355,1);
  will-change: filter;
}
.main.blur {
  filter: blur(5px) brightness(0.7);
}
.header {
  position: absolute;
  width: 100%;
  height: 100px;
  padding: 0 var(--s-sm);
  z-index: 2;
}
.footer {
  padding: 0 var(--s-sm);
}
.section {
  width: 100%;
  &_numbered {
    margin: var(--s-lg) 0;
  }
  &__title {
    display: flex;
    margin: 0 var(--s-xs);
    font-size: var(--fz-h-xs);
    line-height: var(--lh-h-xs);
    font-family: var(--font-medium);
    letter-spacing: 2px;
    &-text {
      display: block;
      height: 100%;
      &::first-letter {
        text-transform: capitalize;
      }
    }
    &-wrapper {
      display: flex;
      padding: var(--s-xs) 0 var(--s-md);
      align-items: center;
      &::before,
      &::after {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        background-color: var(--bays-0);
        opacity: 0.7;
      }
    }
    &::before {
      counter-increment: section 1; 
      content: '0' counter(section) '.';
      margin-right: var(--s-xss);
      color: var(--bays-1);
    }
  }
  &__paragraph {
    margin: 0;
    line-height: var(--lh-md);
    &_center {
      text-align: center;
    }
  }
}

.link,
.link:visited  {
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  color: var(--bays-1);
}

.link:focus,
.link:hover {
  color: var(--primary-color);
}

.link:active {
  color: var(--bays-3);
}

.resume-link,
.mail-link {
  display: block;
  width: max-content;
  padding: var(--s-xs) var(--s-sm);
  border-radius: 100px;
  background-color: var(--bays-1);
  font-size: var(--fz-sm);
  line-height: var(--lh-sm);
  text-transform: uppercase;
  color: #fff;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  &:hover,
  &:focus {
    background-color: var(--primary-color);
    color: #fff;
  }
  &:active {
    background-color: var(--bays-3);
    color: #fff;
  }
}

.mail-link {
  margin: var(--s-md) auto var(--s-lg);
}