@use "variables/variables.scss";
@use "fonts/fonts.scss";
@use "UI/UI.scss";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 0;
}
ol,
ul,
menu {
  padding: 0;
  margin: 0;
}
a,
a:visited,
a:focus, 
a:active {
  text-decoration: none;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

//breaking points
@mixin xs-screen {
  @media only screen and (max-width: 599px) {
    @content;
  }
}
@mixin sm-screen {
  @media only screen and (min-width: 600px) and (max-width: 959px) {
    @content;
  }
}
@mixin md-screen {
  @media only screen and (min-width: 960px) and (max-width: 1255px) {
    @content;
  }
}
@mixin lg-screen {
  @media only screen and (min-width: 1256px) and (max-width: 1919px) {
    @content;
  }
}
@mixin xl-screen {
  @media only screen and (min-width: 1920px) {
    @content;
  }
}