@use "variables/variables.scss";
@use "fonts/fonts.scss";
@use "UI/UI.scss";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 0;
}
ol,
ul,
menu {
  padding: 0;
  margin: 0;
}
a,
a:visited,
a:focus, 
a:active {
  text-decoration: none;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
  padding: 0;
}

//breaking points
@mixin xs-screen {
  @media only screen and (max-width: 599px) {
    @content;
  }
}
@mixin sm-screen {
  @media only screen and (min-width: 600px) {
    @content;
  }
}
@mixin md-screen {
  @media only screen and (min-width: 768px) {
    @content;
  }
}
@mixin lg-screen {
  @media only screen and (min-width: 1256px) {
    @content;
  }
}
@mixin xl-screen {
  @media only screen and (min-width: 1920px) {
    @content;
  }
}

//grid columns
@mixin xs-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: var(--s-xs);
}
@mixin sm-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);;
  column-gap: var(--s-xs);
}
@mixin md-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);;
  column-gap: var(--s-sm);
}
@mixin lg-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);;
  column-gap: var(--s-md);
}

//filter from black to specific color
//hover, focus
@mixin filter-primary {
  filter: invert(10%) sepia(93%) saturate(7145%) hue-rotate(247deg) brightness(80%) contrast(148%);
} 

@mixin filter-bays-0 {
  filter: invert(21%) sepia(66%) saturate(4800%) hue-rotate(210deg) brightness(101%) contrast(101%);
} 

//default
@mixin filter-bays-1 {
  filter: invert(12%) sepia(94%) saturate(7193%) hue-rotate(233deg) brightness(101%) contrast(106%);
} 

@mixin filter-bays-2 {
  filter: invert(10%) sepia(65%) saturate(7198%) hue-rotate(240deg) brightness(81%) contrast(125%);
} 

//active
@mixin filter-bays-3 {
  filter: invert(15%) sepia(85%) saturate(4044%) hue-rotate(241deg) brightness(56%) contrast(136%);
} 

@mixin filter-bays-4 {
  filter: invert(4%) sepia(86%) saturate(7498%) hue-rotate(236deg) brightness(96%) contrast(105%);
}
