@font-face {
  font-family: 'Intel-Bold';
  src: url('/public/intelone-display-bold.ttf') format('truetype'),
    url('/public/intelone-display-bold.woff') format('woff'),
    url('/public/intelone-display-bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Intel-light';
  src: url('/public/intelone-display-light.ttf') format('truetype'),
    url('/public/intelone-display-light.woff') format('woff'),
    url('/public/intelone-display-light.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Intel-medium';
  src: url('/public/intelone-display-medium.ttf') format('truetype'),
    url('/public/intelone-display-medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Intel-regular';
  src: url('/public/intelone-display-regular.ttf') format('truetype'),
    url('/public/intelone-display-regular.woff') format('woff'),
    url('/public/intelone-display-regular.woff2') format('woff2');
  font-display: swap;
}