@font-face {
  font-family: 'Intel-bold';
  src: url('/fonts/intelone-display-bold.woff2') format('woff2'),
    url('/fonts/intelone-display-bold.ttf') format('truetype'),
    url('/fonts/intelone-display-bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Intel-light';
  src: url('/fonts/intelone-display-light.woff2') format('woff2'),
    url('/fonts/intelone-display-light.ttf') format('truetype'),
    url('/fonts/intelone-display-light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Intel-medium';
  src: url('/fonts/intelone-display-medium.woff2') format('woff2'),
    url('/fonts/intelone-display-medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Intel-regular';
  src: url('/fonts/intelone-display-regular.woff2') format('woff2'),
    url('/fonts/intelone-display-regular.ttf') format('truetype'),
    url('/fonts/intelone-display-regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans-bold';
  src: url('/fonts/NunitoSans-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans-light';
  src: url('/fonts/NunitoSans-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans-medium';
  src: url('/fonts/NunitoSans-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans-regular';
  src: url('/fonts/NunitoSans-Regular.ttf') format('truetype');
  font-display: swap;
}