:root {
  //regular text font sizes
  --fz-xs: 0.75rem
  --fz-sm: 0.875rem;
  --fz-md: 1rem;
  --fz-lg: 1.125rem;
  --fz-xl: 1.25rem;

  //regular text line heights
  --lh-xs: 1rem;
  --lh-sm: 1.25rem;
  --lh-md: 1.5rem;
  --lh-lg: 1.75rem;
  --lh-xl: 2rem;

  //heading font sizes
  --fz-h-xs: 1.5rem;
  --fz-h-sm: 2rem;
  --fz-h-md: 3rem;
  --fz-h-lg: 3.5rem;
  
  //heading line heights  
  --lh-h-xs: 2rem;
  --lh-h-sm: 2.5rem;
  --lh-h-md: 3.5rem;
  --lh-h-lg: 4rem;

  //spacing
  --s-xss: 0.5rem;
  --s-xs: 1rem;
  --s-sm: 1.5rem;
  --s-md: 2rem;
  --s-lg: 3rem;
  --s-xl: 4rem;
  --s-xxl: 6rem;

  //Estonian color theme
  --primary-color: #0000f0;

  --boulders-0: #f0f1f2;
  --boulders-1: #cfd1d2;
  --boulders-2: #808284;
  --boulders-2-04: #80828440;
  --boulders-3: #575a5d;
  --boulders-4: #323334;
  --boulders-4-05: rgba(50, 51, 52, 0.2) ;

  --bays-0: #0062f5;
  --bays-0-01: rgba(0, 98, 245, 0.1);
  --bays-0-02: rgba(0, 98, 245, 0.2);
  --bays-0-03: rgba(0, 98, 245, 0.3);
  --bays-0-05: rgba(0, 98, 245, 0.5);
  --bays-0-07: rgba(0, 98, 245, 0.7);
  --bays-1: #003cff;
  --bays-2: #0000b4;
  --bays-2-04: #0000b440;
  --bays-3: #000087;
  --bays-4: #00005a;
  --bays-4-05: rgba(0, 0, 90, 0.5);
  --bays-4-07: rgba(0, 0, 90, 0.7);

  //fonts
  --font-regular: 'Intel-regular', 'Open Sans', sans-serif;
  --font-bold: 'Intel-bold', 'Open Sans', sans-serif;
  --font-light: 'Intel-light', 'Open Sans', sans-serif;
  --font-medium: 'Intel-medium', 'Open Sans', sans-serif;
}
