:root {
  //font sizes
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;

  //spacing
  --s-xs: 8px;
  --s-sm: 16px;
  --s-md: 24px;
  --s-lg: 32px;
  --s-xl: 64px;

  //Estonian color theme
  --primary-color: #0000f0;

  --boulders-0: #f0f1f2;
  --boulders-1: #cfd1d2;
  --boulders-2: #808284;
  --boulders-3: #575a5d;
  --boulders-4: #323334;
  --boulders-4-05: rgba(50, 51, 52, 0.2) ;

  --bays-0: #0062f5;
  --bays-0-01: rgba(0, 98, 245, 0.1);
  --bays-0-02: rgba(0, 98, 245, 0.2);
  --bays-0-03: rgba(0, 98, 245, 0.3);
  --bays-0-05: rgba(0, 98, 245, 0.5);
  --bays-0-07: rgba(0, 98, 245, 0.7);
  --bays-1: #003cff;
  --bays-2: #0000b4;
  --bays-3: #000087;
  --bays-4: #00005a;
  --bays-4-05: rgba(0, 0, 90, 0.5);
  --bays-4-07: rgba(0, 0, 90, 0.7);

  --parks-0: #c1bc76;
  --parks-1: #65a580;
  --parks-2: #2e6347;
  --parks-3: #1d4432;
  --parks-4: #51de3e;

  --waterfalls-0: #d2c3d4;
  --waterfalls-1: #c4bec5;
  --waterfalls-2: #8b7883;
  --waterfalls-3: #3c0078;
  --waterfalls-4: #ff2db4;

  --bogs-0: #d2dbc1;
  --bogs-1: #bae6e8;
  --bogs-2: #98a589;
  --bogs-3: #2b7aa1;
  --bogs-4: #e1e000;

  --beaches-0: #fcedc5;
  --beaches-1: #ffca9f;
  --beaches-2: #ad7351;
  --beaches-3: #964542;
  --beaches-4: #ff4800;

  //fonts
  --font-regular: 'Intel-regular', 'Open Sans', sans-serif;
  --font-bold: 'Intel-bold', 'Open Sans', sans-serif;
  --font-light: 'Intel-light', 'Open Sans', sans-serif;
  --font-medium: 'Intel-medium', 'Open Sans', sans-serif;
}
